<div class="chat">

  <div class="header">
    <div class="header-text">Recommendation bot</div>
  </div>

  <hr/>

  <div class="messages">

    <div *ngFor="let message of messages" class="message">
      <div class="message-content">
        <div class="message-text">{{message.text}}</div>

        <div *ngIf="message.films !== undefined && message.films !== null">
          <div *ngFor="let film of message.films" class="film">
            <div>{{film.name}}</div>
            <div>{{film.description}}</div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="form">
    <input #formInput class="form-input" placeholder="write your message here" type="text">
    <button (click)="onSendMessage(formInput.value)" class="form-button">send</button>
  </div>

</div>
