<div class="chat">

  <div class="header">
    <div class="header-text">Recommendation bot</div>
  </div>

  <hr/>

  <div class="messages">

    <div *ngFor="let message of messages" class="message">
      <app-chat-message
        [date]="message.date"
        [name]="message.username"
        [reply]="message.reply"
        [text]="message.text"
      >
      </app-chat-message>
    </div>

  </div>

  <div class="form">
    <input #formInput class="form-input" placeholder="write your message here" type="text">
    <button (click)="onSendMessage(formInput.value)" class="form-button">send</button>
  </div>

</div>
