<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>


<app-recommendation-chat-open-button
  (click)="openChat()"
  *ngIf="!chatIsOpen"
  class="open_button"
></app-recommendation-chat-open-button>

<app-closable-recommendation-chat
  (closeChat)="closeChat()"
  *ngIf="chatIsOpen"
  class="chat"
></app-closable-recommendation-chat>
